.main {
  max-width: 1200px;
  margin: auto;
}

.menu-bar-links {
  width: 100%;
}

.menu-bar-grid {
  margin-top: 5%;
  padding-left: 10%;
}

.title-container, h1{
  margin: 0;
  padding: 0;
}

.title-container{
  padding: 5% 0;
  text-align: center;
  font-size: 2rem;
}

form .MuiGrid-container-3{
  padding: 0 15%;
}

.news-container {
  margin-top: 5%;
  text-align: center;

  font-size: 1.25rem;
}
